.main {
  /* display: flex;
  flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  min-height: 100vh;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

@media screen and (max-width: 35em) {
  .main {
    padding: 1rem;
  }
}